/*header & footer*/

header{
	overflow-x:hidden;
}

main{
	overflow-x:hidden;
}

#logo-size{
	width:50px;
}

#site-title{
	padding-top: 7px;
}

#email{
	padding: 10px 0 0 30px;
	color: #777;
}

.size{
	font-size:25px;
	padding-right: 20px;
	padding-left: 20px;
}

.ancor-col{
	padding-right: 20px;
}

ul.nav.ancor-col {
    align-items: end;
    justify-content: flex-end;
}

.ancor-col a{
	color: #777;
	
}


@media (max-width:50em){
	body{
		overflow-x:hidden;
	}
	nav.row{
		--bs-gutter-x: none;
	}
	
	.row>*{
		width:auto!important;
	}
	
	#site-title {
	font-size: 13px;
	padding-top: 20px;	
}
	
#email {
		display:none!important;
	}
	
	.ancor-col{
	padding-right: 10px;
	font-size: 12px;
}
	
ul.nav.ancor-col {
    align-items: start;
    justify-content: flex-start;
}	
}

/*------Footer-----------*/

#social-icon .bi:hover{
	color: #fff;
	cursor: pointer;
	
}

.footer{
	height: 40em;
}

#footer-div div{
	padding-top: 50px;
}

#footer-div div a{
	color: #fff;
	text-decoration: none;
}

#footer-div div h2{
	padding-left: 30px;
	font-size: 25px;
}

.footer-about {
	padding-left: 50px;
}

.footer-about img{
	padding-bottom: 30px;
}

.footer .d-flex{
	justify-content:space-between;
}

.footer .icon-col{
	display:flex;
	margin-right: 30px;	
}

#social-icon .bi{
	color: #555; 
	font-size: 30px;
	padding-left: 10px;
}

#contact-menu {
	color: #fff;
	margin-top: 100px;
}

#contact-menu p{
	padding-left: 10px;
}

.copyright div{
	margin: 15px;
}
#copyright-text p{
	margin:0;
	padding-top:5px;
	font-size: 20px;
	text-align: center;
}

@media (max-width:50em){
	
.footer{
	height: 70em;
}

#copyright-text p{
	margin:0;
	padding-top:5px;
	font-size: 10px;
}

.footer-about{
	padding-left:30px;
	margin-bottom:30px;
}

.footer-about img{
	padding-top: 30px;
}

#for-more .row>*{
	display:block!important;
	width:auto;
}

#footer-div div{
	padding-top: 0;
}

.foot {
		display:block!important;
	}
	
	#contact-menu {
	color: #fff;
	padding-left: 30px;
	margin-top: 30px;
}

#contact-menu p{
	padding-left: 10px;
}
 	
}
